obj
obj/*.o
*.out
.vscode
*,json
driver
main
test_kopca
test_list
test_wektora
*.txt
grafy/*
wyniki/*
grafy
wyniki
src/test_kopca.cpp
src/test_list.cpp
src/test_wektora.cpp
src/test_dij.cpp
szukanie_sciezki
src/lista.cpp
src/inc/lista.hh